version: "3.8"

services:
  nginx:
    build: ./nginx
    container_name: nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /home/enganderson/app/frontend/oriedu:/app/frontend/oriedu
  db:
    image: postgres:13-alpine
    restart: always
    container_name: postgres
    ports:
      - 5432:5432
    env_file:
      - /home/oriedu/.env
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - /var/lib/postgresql/data:/var/lib/postgresql/data
  redis:
    image: redis:6.2.4
    container_name: redis
    command: redis-server --appendonly yes
    ports:
      - "6379:6379"
    restart: always

networks:
  default:
    external: true
    name: oriedu-network