{
  "openapi": "3.0.0",
  "info": {
    "title": "Api - Authentication",
    "version": "1.0.0",
    "contact": {
      "email": "and.orisistem@gmail.com",
      "url": "https://github.com/encanderson"
    },
    "description": "Api to web system authentication with two factors, password and email confirmation. To communication between client and server are used the JWT and refresh token."
  },
  "servers": [{ "url": "http://auth.server/api/v1" }],
  "schemes": ["https"],
  "paths": {
    "/auth/:token": {
      "post": {
        "tags": ["Register"],
        "summary": "",
        "description": "To confirm user email",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {}
            }
          }
        },
        "responses": {
          "400": {
            "description": "Generic error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "204": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "tags": ["Sign-In"],
        "summary": "",
        "description": "Login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Login"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Generic error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/verify-user": {
      "post": {
        "tags": ["Sign-In"],
        "summary": "",
        "description": "Confirm login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfirmLogin"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Generic error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            },
            "headers": {
              "Access-Token": {
                "schema": {
                  "$ref": "#/components/schemas/AccessToken"
                }
              },
              "Refresh-Token": {
                "schema": {
                  "$ref": "#/components/schemas/RefreshToken"
                }
              }
            }
          }
        }
      }
    },
    "/auth/refresh-token": {
      "post": {
        "tags": ["Authenticate"],
        "summary": "",
        "description": "Refresh token",
        "security": [{ "Access-Token": [], "Refresh-Token": [] }],
        "responses": {
          "400": {
            "description": "Generic error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            },
            "headers": {
              "Access-Token": {
                "schema": {
                  "$ref": "#/components/schemas/AccessToken"
                }
              },
              "Refresh-Token": {
                "schema": {
                  "$ref": "#/components/schemas/RefreshToken"
                }
              }
            }
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "tags": ["Authenticate"],
        "summary": "",
        "description": "Logout",
        "security": [{ "Access-Token": [], "Refresh-Token": [] }],
        "responses": {
          "400": {
            "description": "Generic error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "204": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/auth/confirm-user": {
      "post": {
        "tags": ["Authenticate"],
        "summary": "Confirm user",
        "description": "Reset password, require token from reset-password endpoint",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfirmUser"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Generic error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/recovery-password": {
      "post": {
        "tags": ["Reset Password"],
        "summary": "Forgot password",
        "description": "Send request to recovery password",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cpf": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Generic error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Reset Password"],
        "summary": "Change password",
        "description": "Update new password, require token from post endpoint /recovery-password",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Generic error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "204": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Message": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      },
      "Login": {
        "type": "object",
        "properties": {
          "cpf": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        }
      },
      "LoginResponse": {
        "type": "object",
        "properties": {
          "app": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "token": {
            "type": "string"
          }
        }
      },
      "ConfirmLogin": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          }
        }
      },
      "ConfirmUser": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "token": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "Access-Token": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "Refresh-Token": {
        "type": "http",
        "scheme": "string"
      }
    }
  }
}
